*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	background: rgb(47, 150, 163);
	font-family: sans-serif;
	color: white;
	
}

.location, .character, .episode, .tiempo-proceso1, .tiempo-proceso2, .episode-locations{
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.episode-locations{
	text-overflow: ellipsis;
	font-size:2px;
}

